<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body
  >
    {{ partial "scripts-front.html" . }}
    {{ partial "header.html" . }}

    <div id="main">
        <div class="container yue">
            <!-- list -->
            <div class="col-12 col-md-9 float-left content">
                {{ block "main" . }}{{ end }}
            </div>
            <!-- {{ partial "sidebar.html" . }} -->
        </div>
        {{ partial "components.html" . }}
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts-end.html" . }}
</body>

</html>
